<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}

{% block content %}
  <h2>Lista de Clientes</h2>
  <a href="{% url 'cliente-add' %}">Agregar Nuevo Cliente</a>
  <table border="1">
    <thead>
      <tr>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Fecha de Nacimiento</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for cliente in clientes %}
      <tr>
        <td>{{ cliente.dni }}</td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.direccion }}</td>
        <td>{{ cliente.fecha_nacimiento }}</td>
        <td>
          <a href="{% url 'cliente-edit' cliente.pk %}">Editar</a> |
          <a href="{% url 'cliente-delete' cliente.pk %}">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <li>
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
    {% endif %}

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    {% endif %}
</li>
{% endblock %}
</body>
</html>